<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>

<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>
<div class="py-2 flash-message message-error" th:text="${error}" th:if="${error}"></div>


<article>
    <div id="centrovac">
        <header>
            <h1>Seznam článků</h1>
        </header>

        <section>
            <p>
                <a class="clanky-tlacitko" th:href="@{/articles/create}">Vytvořit nový</a>
            </p>

            <ul class="list-group" id="clanky">
                <li th:each="article: ${articles}" class="list-group-item">
                    <h2><a th:href="@{'/articles/' + ${article.articleId}}" th:text="${article.title}"></a></h2>
                    <p th:text="${article.description}"></p>
                    <p>
                        <a th:href="@{'/articles/edit/' + ${article.articleId}}">Editovat</a> |
                        <a th:href="@{'/articles/delete/' + ${article.articleId}}">Odstranit</a>
                    </p>
                </li>
            </ul>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>

</html>