<!DOCTYPE html>
<html lang="cs-cz">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>

</body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<article>
    <div id="centrovac">
        <section>
            <table id="dovednosti">
                <tr class="centrovany">
                    <td>
                        <img th:src="@{/images/html.png}" alt="HTML"/>
                    </td>
                    <td>
                        <img th:src="@{/images/java.png}" alt="Java"/>
                    </td>
                    <td>
                        <img th:src="@{/images/pascal.png}" alt="Pascal"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>HTML</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                    </td>
                    <td>
                        <h2>Java</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                    </td>
                    <td>
                        <h2>Pascal</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua.</p>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</article>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</html>