<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <!-- Část zkopírovaná z HoBiho webu -->
    <meta charset="utf-8"/>
    <meta name="description" content="Osobní portfolio programátora HoBiho."/>
    <meta name="keywords" content="portfolio, programátor, HoBi"/>
    <meta name="author" content="HoBi"/>
    <title>Moje první webová stránka</title>

    <!-- Odkazy na potřebné styly, ikonky a skripty -->
    <link rel="stylesheet" th:href="@{/styles/lightbox.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css"/>
    <link rel="shortcut icon" th:href="@{/images/ikona.ico}"/>

    <script th:src="@{/scripts/lightbox-plus-jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.0.3/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea[id*=content]",
            entities: "160,nbsp",
            entity_encoding: "named",
            entity_encoding: "raw"
        });
    </script>
</head>
<body>
<header th:fragment="header">
    <div id="logo">
        <h1>Honza<span>Bittner</span></h1>
        <small>webdeveloper</small>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Domů</a></li>
            <!-- Stránku /articles si vytvoříme v dalších lekcích -->
            <li><a th:href="@{/articles}">Články</a></li>
            <li><a th:href="@{skills}">Dovednosti</a></li>
            <li><a th:href="@{/references}">Reference</a></li>
            <li><a class="kontakt-tlacitko" th:href="@{contact}">Kontakt</a></li>
        </ul>
    </nav>
</header>

<footer th:fragemnt="footer">
    Vytvořil &copy;HoBi 2021 pro <a href="https://itnetwork.cz">itnetwork.cz</a>
</footer>
</body>
</html>